*.swp
.DS_STORE
*.pyc
.env
.idea
venv
/Biography/bio_data
/Biography/extracted_triples
/Biography/freeevents_data
/Biography/log
/Biography/scrapes
*.zip
*.ttl
*.xml
*.rdf
*.log
*.config
.dccache
*.txt
*.csv
*.code-workspace
.vscode
