WRITING_FILES=../data/entry_2023-04-29
GENRE_VOCAB=/Users/alliyya/Desktop/vocabularies/genre.ttl
BIBLIOGRAPHY_FILES=../data/bibliography_2023-04-29
PLACES_CSV=../data/places.csv
GENRE_CSV=../data/cwrc_genre_mapping.csv
PUBLISHERS_CSV=../data/publisher_mapping.csv
PEOPLE_CSV=../data/people_mapping.csv