WRITING_FILES=../data/entry_files/entry_2024-02-05
GENRE_VOCAB=/Users/alliyya/Desktop/vocabularies/genre.ttl
BIBLIOGRAPHY_FILES=../data/bibliography_files/bibliography_2023-10-04
PLACES_CSV=../data/places.csv
GENRE_CSV=../data/genre_mapping.csv
ORGANIZATIONS_CSV=../data/organization_mapping.csv
PUBLISHERS_CSV=../data/organization_mapping.csv
PEOPLE_CSV=../data/full_people_mapping.csv